# Twitter Data Collection

`twint_scrape` and `search_loop` adapted from Josh Szymanowski and Eric Blander

In [1]:
import pandas as pd
from src.functions import * 

%load_ext autoreload
%autoreload 2

In [8]:
search = 'covid vaccine'
filename = 'covid_vaccine_tweets'
limit = 3000

In [13]:
%time df = search_loop(search, filename, limit)

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-01-01 saved!
2020-02-01 saved!
2020-03-01 saved!
2020-04-01 saved!
2020-05-01 saved!
2020-06-01 saved!
2020-07-01 saved!
2020-08-01 saved!
2020-09-01 saved!
2020-10-01 saved!
2020-11-01 saved!
2020-12-01 saved!
CPU times: user 18.9 s, sys: 795 ms, total: 19.7 s
Wall time: 7min 4s

In [14]:
df = pd.read_csv('./data/covid_vaccine_tweets.csv')

In [15]:
df.shape

(33639, 39)

## Limit 7500 per month

In [13]:
search = 'covid vaccine'
filename = 'covid_vaccine_tweets'
limit = 7500

In [14]:
%time df = search_loop(search, filename, limit)

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-01-01 saved!
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-02-01 saved!

ERROR:asyncio:Fatal read error on socket transport
protocol: <asyncio.sslproto.SSLProtocol object at 0x7fef0cbd86a0>
transport: <_SelectorSocketTransport fd=62 read=polling write=<idle, bufsize=0>>
Traceback (most recent call last):
  File "/Users/davidbruce/opt/anaconda3/envs/learn-env/lib/python3.6/asyncio/selector_events.py", line 714, in _read_ready
    data = self._sock.recv(self.max_size)
TimeoutError: [Errno 60] Operation timed out

2020-03-01 saved!
2020-04-01 saved!
2020-05-01 saved!
2020-06-01 saved!
2020-07-01 saved!
2020-08-01 saved!
2020-09-01 saved!
2020-10-01 saved!
2020-11-01 saved!
2020-12-01 saved!
CPU times: user 45.1 s, sys: 1.94 s, total: 47 s
Wall time: 13min 34s

In [19]:
df_3 = pd.read_csv('./data/covid_vaccine_tweets.csv')

In [20]:
df_3.shape

(80730, 39)

# Twint Scrape w/ Location

In [22]:
search = 'covid vaccine'
filename = 'ny_tweets'
city = 'New York'
limit = 7500

In [23]:
%time df = search_loc_loop(search, city, filename, limit)

[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-01-01 saved!
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-02-01 saved!
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-03-01 saved!
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-04-01 saved!
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-05-01 saved!
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-06-01 saved!
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-07-01 saved!
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-08-01 saved!
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-09-01 saved!
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-10-01 saved!
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.
2020-11-01 saved!
2020-12-01 saved!
CPU times: user 4.36 s, sys: 257 ms, total: 4.61 s
Wall time: 1min 40s

In [24]:
df = pd.read_csv('./data/ny_tweets.csv')

/Users/davidbruce/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (0,1,2,3,11,12,15,20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
df.shape

(16847, 39)

In [27]:
df.head()

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1230529563098304513,1230529563098304513,1.58222e+12,2020-02-20 11:28:04,-500,NaN,"During a live conference regarding COVID-19, @...",en,['covid2019'],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1,1244475262835851264,1244475262835851264,1.58554e+12,2020-03-30 00:03:18,-500,NaN,if Shuri from Black Panther was real we would’...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,2,1244177043761356801,1244170766976978945,1.58547e+12,2020-03-29 04:18:17,-500,NaN,"@MalcolmNance @RealCandaceO How about this, Ca...",en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'MalcolmNance', 'name': 'Malc...",NaN,NaN,NaN,NaN
3,3,1243921301347143682,1243921301347143682,1.58541e+12,2020-03-28 11:22:03,-500,NaN,@realDonaldTrump please don’t allow relaxed EP...,en,[],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,4,1243158889211797504,1243158889211797504,1.58523e+12,2020-03-26 08:52:30,-500,NaN,Let’s go #Pittsburgh! — Researchers in Pittsbu...,en,['pittsburgh'],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [28]:
df.tail()

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
16842,8773,1336546754943209474,1335035983327326208,1607492552000.0,2020-12-09 00:42:32,-500,NaN,@EricaKaplan15 @RealCandaceO Alright for real ...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'EricaKaplan15', 'name': 'Eri...",NaN,NaN,NaN,NaN
16843,8774,1336546571123642368,1336546571123642368,1607492509000.0,2020-12-09 00:41:49,-500,NaN,𝗗𝗲𝗰𝗶𝘀𝗶𝗼𝗻 😧 #Decision #BusinessIndustrial The ...,en,"['decision', 'businessindustrial']",...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
16844,8775,1336545739120455680,1335237814552649728,1607492310000.0,2020-12-09 00:38:30,-500,NaN,@jorient @YouTube I am so happy to see an inte...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'jorient', 'name': 'Jane Orie...",NaN,NaN,NaN,NaN
16845,8776,1336545725673508864,1336411251078025217,1607492307000.0,2020-12-09 00:38:27,-500,NaN,@ZaidZamanHamid MMR’s vaccine which was tested...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'ZaidZamanHamid', 'name': 'Za...",NaN,NaN,NaN,NaN
16846,8777,1336545412220596230,1336417759970865159,1607492232000.0,2020-12-09 00:37:12,-500,NaN,@GenFlynn @realDonaldTrump The final phase was...,en,[],...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'GenFlynn', 'name': 'General ...",NaN,NaN,NaN,NaN